@model Eldorado.TeamManager.Web.Models.TeamCollaborator.TeamCollaboratorListViewModel

<h3 class="page-title-collaborator">Integrantes</h3>

@if (TempData["collaboratorSave"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>OK!</strong> @TempData["collaboratorSave"]
        <button type="button" class="btn-close" data-bs-dimiss="alert" aria-label="Close"></button>
    </div>
}
<a href="@Url.Action("AddCollaborator", new { teamId = Model.TeamId })" class="btn btn-sm btn-secondary mb-3 mt-1"><i class="fa fa-plus"></i> Novo Integrante</a>

<div class="m-2">
    <table id="table-collaborators" class="table table-striped">
        <col style="width: 25%;" />
        <col style="width: 65%;" />
        <col style="width: 10%;" />
        <thead>
            <tr>
                <th>Nome</th>
                <th>Skills</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var collaboratorDto in Model.TeamCollaborators)
            {
                <tr>
                    <td>@collaboratorDto.Collaborator.Name</td>
                    <td>@string.Join(", ", collaboratorDto.Collaborator.CollaboratorSkills.Select(s=>s.Skill.Name).ToArray())</td>
                    <td>
                        <a href='@Url.Action("DeleteCollaborator", new {  teamCollaboratorId = collaboratorDto.Id, teamId = Model.TeamId })' class="btn btn-sm btn-secondary" title="Apagar"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            initDataTable("table-collaborators");
        });
    </script>
}